@font-face{
    src: url('/font/Roboto-Thin.ttf');
    font-family: 'Roboto-Thin';
}
@font-face{
    src: url('/font/Roboto-Light.ttf');
    font-family: 'Roboto-Light';
}
@font-face{
    src: url('/font/Roboto-Regular.ttf');
    font-family: 'Roboto-Regular';
}
@font-face{
    src: url('/font/Roboto-Medium.ttf');
    font-family: 'Roboto-Medium';
}
@font-face{
    src: url('/font/Roboto-Bold.ttf');
    font-family: 'Roboto-Bold';
}