@font-face {
  src: url("/font/Roboto-Thin.ttf");
  font-family: "Roboto-Thin";
}

@font-face {
  src: url("/font/Roboto-Light.ttf");
  font-family: "Roboto-Light";
}

@font-face {
  src: url("/font/Roboto-Regular.ttf");
  font-family: "Roboto-Regular";
}

@font-face {
  src: url("/font/Roboto-Medium.ttf");
  font-family: "Roboto-Medium";
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Website Wrapper */

.website-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/*Rows and Column*/

/*Homepage*/

.container {
  width: 90%;
  margin: auto;
}

.navigation {
  font-family: "Roboto-Regular";
  font-size: 1em;
  line-height: 1.9em;
  width: 550px;
  position: absolute;
  left: 6%;
  bottom: 12%;
}

.navigation .hide-nav {
  display: none;
}

.navigation nav {
  width: 100%;
}

.navigation nav span {
  margin-right: 2em;
  -webkit-transition: 1s;
  transition: 1s;
}

.navigation nav span:hover {
  letter-spacing: 2px;
}

.navigation nav span a {
  text-decoration: none;
  color: white !important;
}

.navigation nav span:last-child {
  margin-right: 0;
}

.navigation .social {
  display: block;
  margin-top: 2em;
  margin-left: 0;
}

.navigation .social img {
  width: 20px;
  margin-right: 2em;
}

.nav-menu,
.nav-menu-close {
  width: 30px;
  height: 15px;
  position: absolute;
  left: 6%;
  bottom: 15%;
  cursor: pointer;
}

.nav-menu span,
.nav-menu-close span {
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  margin-bottom: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-menu span:last-child,
.nav-menu-close span:last-child {
  margin-bottom: 0;
}

.nav-menu-close {
  left: 10%;
}

.nav-menu-close span {
  background: black;
}

.nav-menu-close span:first-child {
  margin-bottom: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-menu-close span:nth-child(2) {
  display: none;
}

.nav-menu-close span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -3px;
}

.message {
  font-family: "Roboto-Thin";
  font-size: 1.5em;
  margin-top: -1.5em;
  padding-bottom: 1em;
}

.message ul {
  list-style: circle;
}

.message ul li {
  font-family: "Roboto-Regular";
  font-size: 12px !important;
  line-height: 14px;
}

.logo {
  display: block;
  width: 120px;
  position: absolute;
  left: 6%;
  top: 9%;
}

.cancel {
  text-decoration: line-through;
}

.home,
.sidebar {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("/img/main/main-background.jpg");
  background-color: #FF0707;
  background-size: 100%;
  background-blend-mode: multiply;
  background-position: right 30%;
  color: white !important;
}

.home .intro,
.sidebar .intro {
  font-family: "Roboto-Thin", sans-serif !important;
  font-size: 6em !important;
  margin-top: 1.5em;
}

.sidebar {
  background-size: cover;
  background-position: center right;
}

.content-area {
  background: #650303;
  color: white;
}

.content-area .page-heading {
  font-family: "Roboto-Thin";
  font-size: 4em;
}

.content-area .about-me {
  font-family: "Roboto-Regular";
  font-size: 1em;
  line-height: 1.5em;
}

.content-area .about-me .frameworks {
  width: 100%;
  margin-top: 2em;
}

.content-area .about-me .frameworks img {
  height: 45px;
  margin-right: 2em;
}

.content-area .portfolio .long {
  background-image: url("/img/portfolio/1.jpg");
  background-size: cover;
  background-position: center right;
}

.content-area .portfolio .short {
  height: 35vh;
  background: white;
  width: 100%;
  -webkit-transition: 2s;
  transition: 2s;
}

.content-area .portfolio .short:first-child {
  background-image: url("/img/portfolio/2.jpg");
  background-size: contain;
  background-position: center top;
}

.content-area .portfolio .short:first-child:hover {
  background-position: -550% top;
}

.content-area .portfolio .short:last-child {
  background-image: url("/img/portfolio/3.jpg");
  background-size: contain;
  background-position: center top;
}

.content-area .portfolio .short:last-child:hover {
  background-position: -550% top;
}

.content-area .reading-list .row {
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: -3%;
}

.content-area .reading-list .col-3 .book {
  width: 97%;
  background: white;
  height: 200px;
  margin-top: 3%;
}

.content-area .hire-me .form-group {
  width: 90%;
  margin-bottom: 1em;
}

.content-area .hire-me .form-group input,
.content-area .hire-me .form-group select,
.content-area .hire-me .form-group textarea {
  width: 100%;
  background: none;
  padding: 1em;
  color: white;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 0;
  font-family: "Roboto-regular";
  -webkit-transition: 1s;
  transition: 1s;
}

.content-area .hire-me .form-group input:focus,
.content-area .hire-me .form-group select:focus,
.content-area .hire-me .form-group textarea:focus {
  border: 1px solid white;
}

.content-area .hire-me .form-group select {
  width: calc(100% + 1em);
}

.content-area .hire-me .form-group select option {
  color: black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.content-area .hire-me .form-group input[type=submit] {
  padding: 1em 2em;
  background: white;
  color: black;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  width: auto !important;
  border: 1px solid rgba(255, 255, 255, 0);
}

.content-area .hire-me .form-group input[type=submit]:hover {
  color: white;
  background: none;
  border: 1px solid white;
}

.content-area .hire-me .col-12 .form-group {
  width: 95%;
}

.my-mind .recent-articles article {
  background: white;
  width: 97%;
  margin-bottom: 3%;
  color: black;
  padding-bottom: 0.5em;
}

.my-mind .recent-articles article header {
  height: 200px;
  width: 100%;
  background: grey;
}

.my-mind .recent-articles article header img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.my-mind .recent-articles article section {
  height: 70px;
  padding: 1em;
  font-family: "Roboto-Medium";
  font-size: 1.2em;
}

.my-mind .recent-articles article footer {
  font-family: "Roboto-Thin";
  font-size: 0.7em;
  padding: 1.5em;
}

.row {
  display: -webkit-box;
  display: flex;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.col-13 {
  width: 108.3333333333%;
}

@media only screen and (max-width: 568px) {
  .logo {
    width: 80px;
  }

  .navigation {
    width: 50%;
    height: 100vh;
    left: 0;
    bottom: 0;
    background: white;
    color: black;
    display: none;
  }

  .navigation nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 80%;
    margin-left: 20%;
    height: 100%;
    margin-top: 40%;
    -webkit-box-pack: center;
            justify-content: center;
  }

  .navigation nav span {
    margin-bottom: 1em;
  }

  .navigation nav span a {
    color: black !important;
  }

  .home,
  .sidebar {
    background-size: cover;
    background-position: center right;
  }

  .home .col-8,
  .sidebar .col-8 {
    width: 90% !important;
  }

  .home .intro,
  .sidebar .intro {
    font-size: 2.7em !important;
    margin-top: 55% !important;
  }
}

